.Categories-container__banner {
    width: 100%;
    position: relative;
    margin: 0px auto;
}

.Categories-container__banner img {
    width: 100%;
    max-width: 100%;
}

.banner-text {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    background-color: #393935;
    color: #fff;
    text-align: center;
    z-index: 1;
}

.banner-text__title {
    position: relative;
    margin: 25% 0 40px;
    font-size: 1.6rem;
    font-weight: lighter;
}

.banner-text__title::after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 12%;
    bottom: -13px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #fff;
}

.banner-text__subtitle {
    width: 90%;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 1.3rem;
}